Repository Sepehr-Sobhani/Tasket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, prettier

ty:
  name: ty
  entry: cd backend && uv run ty check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: cd frontend && npm run lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: cd frontend && npm run format
  language: system
  pass_filenames: false

feat: update database migrations and schema
  backend/alembic/env.py
  backend/alembic/versions/05eeb4025788_initial_database_schema.py
  backend/alembic/versions/2f14a4022334_initial_database_schema.py
  backend/alembic/versions/4c3821fffb29_add_is_default_to_projects.py
  backend/alembic/versions/4d001f6df8b8_remove_github_integrations_table.py
Due: ty

refactor: clean up backend models and schemas
  backend/app/models/__init__.py
  backend/app/models/epic.py
  backend/app/models/github_integration.py
  backend/app/models/milestone.py
  backend/app/models/notification.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/dashboard.py
  backend/app/schemas/epic.py
  backend/app/schemas/github.py
  backend/app/schemas/milestone.py
  backend/app/schemas/notification.py
  backend/app/schemas/project.py
  backend/app/schemas/tag.py
  backend/app/schemas/task.py
  backend/app/schemas/user.py
Due: ty

refactor: clean up backend API endpoints
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/auth_fastapi.py
  backend/app/api/v1/endpoints/epics.py
  backend/app/api/v1/endpoints/github.py
  backend/app/api/v1/endpoints/milestones.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/projects.py
  backend/app/api/v1/endpoints/tags.py
  backend/app/api/v1/endpoints/tasks.py
  backend/app/api/v1/endpoints/websockets.py
Due: ty

refactor: clean up backend service layer
  backend/app/services/__init__.py
  backend/app/services/epic.py
  backend/app/services/github.py
  backend/app/services/google.py
  backend/app/services/milestone.py
  backend/app/services/notification.py
  backend/app/services/project.py
  backend/app/services/tag.py
  backend/app/services/task.py
  backend/app/services/user.py
Due: ty

refactor: update backend core configuration
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/oauth.py
  backend/app/core/security.py
  backend/app/core/websocket.py
  backend/app/main.py
Due: ty

chore: update backend dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: update frontend configuration and dependencies
  frontend/components.json
  frontend/env.example
  frontend/middleware.ts
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/scripts/generate-types.ts
  frontend/tailwind.config.js
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: eslint, prettier

chore: update build and deployment configuration
  Makefile
  frontend/Dockerfile
Due: none

refactor: clean up project detail page and improve ESLint config
  frontend/.eslintrc.json
  frontend/src/app/projects/[id]/page.tsx
Due: eslint, prettier

feat: refactor authentication and user management
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/websocket.py
  backend/app/schemas/auth.py
  frontend/middleware.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/projects/[id]/dashboard/page.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/layout/UserSection.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/use-project-mutations.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/config.ts
Due: ty, eslint, prettier

refactor: remove unused authentication endpoints
  backend/app/api/v1/endpoints/auth_fastapi.py
  backend/app/api/v1/endpoints/users.py
Due: ty

feat: implement refresh token system and improve JWT security
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/schemas/auth.py
Due: ty

feat: add refresh token endpoint to auth API
  backend/app/api/v1/endpoints/auth.py
Due: ty

refactor: update API router imports
  backend/app/api/v1/api.py
Due: ty

refactor: update frontend for stateless authentication
  frontend/src/hooks/use-project.ts
  frontend/src/lib/api-client.ts
Due: eslint, prettier

feat: implement automatic authentication system and remove unused endpoints
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/projects.py
  backend/app/core/auth_helpers.py
  backend/app/core/auth_middleware.py
  backend/app/main.py
Due: ty

refactor: clean up unused fields and methods from data models
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/schemas/project.py
  backend/app/schemas/user.py
  backend/app/services/project.py
Due: ty

feat: update database schema and fix model compatibility
  backend/alembic/versions/012324f88b92_remove_unused_columns_from_models.py
  backend/app/models/user.py
Due: ty

refactor: clean up Makefile and remove seed functionality
  Makefile
Due: none

chore: remove Dockerfile
  Dockerfile
Due: none

fix: resolve ESLint configuration issues
  .eslintrc.json
  .pre-commit-config.yaml
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/projects/[id]/route.ts
  src/app/api/projects/default/route.ts
  src/app/api/projects/route.ts
  src/app/api/projects/stats/dashboard/route.ts
  src/app/dashboard/page.tsx
  src/app/projects/[id]/dashboard/page.tsx
  src/app/projects/[id]/page.tsx
  src/components/layout/ProjectsAccordion.tsx
  src/components/layout/SidebarHeader.tsx
  src/components/layout/SidebarNavigation.tsx
  src/components/layout/UserSection.tsx
  src/contexts/AuthContext.tsx
  src/hooks/use-project.ts
  src/hooks/use-toast.ts
  src/lib/auth-options.ts
  src/lib/auth.ts
  src/types/api-common.ts
Due: none

fix: resolve pre-commit hooks and TypeScript compatibility issues
  .eslintrc.json
  .pre-commit-config.yaml
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/health/route.ts
  src/app/api/projects/[id]/route.ts
  src/app/api/projects/default/route.ts
  src/app/api/projects/route.ts
  src/app/api/projects/stats/dashboard/route.ts
  src/app/auth/redirect/page.tsx
  src/components/layout/ProjectsAccordion.tsx
  src/components/project/CreateProjectForm.tsx
  src/contexts/AuthContext.tsx
  src/hooks/use-project.ts
  src/hooks/use-toast.ts
  src/lib/api-client.ts
  src/lib/auth-options.ts
  src/stores/auth-store.ts
  src/stores/project-store.ts
  src/types/api-common.ts
  src/types/next-auth.d.ts
Due: none

refactor: remove unused hooks and API routes
  Makefile
  src/app/api/projects/default/route.ts
  src/app/api/projects/stats/dashboard/route.ts
  src/app/dashboard/page.tsx
  src/components/project/CreateProjectForm.tsx
  src/hooks/use-dashboard.ts
  src/hooks/use-project-mutations.ts
  src/hooks/use-project.ts
  src/hooks/use-theme.ts
  src/lib/api-client.ts
  src/types/next-auth.d.ts
Due: none

feat: remove project section from sidebar
  src/components/layout/ProjectsAccordion.tsx
  src/components/layout/Sidebar.tsx
  src/hooks/use-dashboard.ts
Due: none

refactor: remove unused files and dependencies
  package.json
  pnpm-lock.yaml
  src/app/auth/redirect/page.tsx
  src/hooks/use-dashboard.ts
  src/hooks/use-project-mutations.ts
  src/hooks/use-project.ts
  src/stores/auth-store.ts
  src/stores/project-store.ts
Due: none

chore: update Prisma and Zod to latest versions
  package.json
  pnpm-lock.yaml
Due: none

feat: add recent projects section to dashboard
  prisma/schema.prisma
  src/app/dashboard/page.tsx
  src/components/layout/UserSection.tsx
Due: none

chore: remove unnecessary debug-statements pre-commit hook
  .pre-commit-config.yaml
Due: none

style: lighten dark theme background colors for better readability
  src/app/globals.css
Due: none

feat: add error boundary and simplify project page UI
  src/app/layout.tsx
  src/app/projects/[id]/page.tsx
  src/components/ErrorBoundary.tsx
Due: none

refactor: remove redundant authentication redirect logic
  src/app/dashboard/page.tsx
  src/app/projects/[id]/dashboard/page.tsx
Due: none

refactor: implement Suspense with skeleton loading and eliminate logout prop drilling
  src/app/auth/signin/page.tsx
  src/app/dashboard/page.tsx
  src/app/projects/[id]/dashboard/page.tsx
  src/app/projects/[id]/page.tsx
  src/components/dashboard/dashboard-content.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/UserSection.tsx
  src/components/project/project-content.tsx
  src/components/skeletons/dashboard-skeleton.tsx
  src/components/skeletons/project-skeleton.tsx
  src/hooks/use-project.ts
Due: none

refactor: remove unnecessary cache clearing for skeleton loading
  src/app/dashboard/page.tsx
  src/app/projects/[id]/page.tsx
Due: none

refactor: improve error handling and cleanup auth error page
  src/app/auth/error/page.tsx
  src/components/ErrorBoundary.tsx
Due: none

feat: implement centralized authentication and improve signin UX
  src/app/dashboard/page.tsx
  src/app/page.tsx
  src/app/projects/[id]/page.tsx
  src/components/auth/AuthGuard.tsx
  src/components/layout/AppLayout.tsx
  src/lib/api-client.ts
  src/lib/auth-options.ts
  src/types/next-auth.d.ts
Due: none

refactor: remove redundant fetchBackendUser and simplify AuthContext
  src/contexts/AuthContext.tsx
  src/types/next-auth.d.ts
Due: none

refactor: remove unused refreshUser function from AuthContext
  src/contexts/AuthContext.tsx
Due: none

Path conditions:
  ty: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|html|yaml|md)$
